<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/index"
>
<head>
  <meta charset="UTF-8" />
  <title>file list</title>
</head>
<body>
<div layout:fragment="content">
  <h1>file List</h1>

<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>이름</th>-->
<!--      <th>이메일</th>-->
<!--      <th>전화번호</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="file : ${list.content}">-->
<!--      <td th:text="${file.fileName}"></td>-->
<!--      <td th:text="${file.filePath}"></td>-->
<!--      <td th:text="${file.fileSize}"></td>-->
<!--      <td th:text="${file.fileType}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <div style="width: 300px; text-align: center;">-->
<!--    <th:block th:each="num : ${#numbers.sequence(1, list.totalPages)}">-->
<!--      <a class="page active" th:if="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/user/list?pageNumber=${num}|"></a>-->
<!--      <a class="page" th:unless="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/user/list?pageNumber=${num}|"></a>-->
<!--    </th:block>-->
<!--  </div>-->

</div>

</body>
</html>
