<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/index">
<head>
    <meta charset="UTF-8"/>
    <title>Files</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/files.css}" />-->
    <link rel="stylesheet" type="text/css" href="/css/files.css" />
    <style>
        table {
            width: 100%;
            border-top: 1px solid #444444;
            border-collapse: collapse;
        }

        th, td {
            border-bottom: 1px solid #444444;
            padding: 10px;
        }

    </style>
</head>
<body >

<div layout:fragment="content" class="flex justify-center flex-col items-center upload-container">
    <div class="upload-header">
        <h2>File Upload / Download</h2>
    </div>

    <div class="upload-content">
        <div class="single-upload">
            <h3>Upload Single File</h3>
            <form id="singleUploadForm" name="singleUploadForm">
                <input id="singleFileUploadInput" type="file" name="file" class="file-input" required/>
                <button type="submit" class="primary submit-btn
rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
">Submit</button>
            </form>
        </div>

        <div class="multiple-upload">
            <h3>Upload Multiple Files</h3>
            <form id="multipleUploadForm" name="multipleUploadForm">
                <input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required/>
                <button type="submit" class="primary submit-btn
rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
">Submit</button>
            </form>


        </div>

        <div class="link-area">
            <h1>file links</h1>

            <div class="upload-response ">
                <h3>single</h3>
                <div id="singleFileUploadError"></div>
                <div id="singleFileUploadSuccess"></div>
            </div>

            <div class="upload-response">
                <h3>multiple</h3>
                <div id="multipleFileUploadError"></div>
                <div id="multipleFileUploadSuccess"></div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" th:src="@{/js/files.js}"></script>
</body>
</html>
