<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/index">
<head>
    <meta charset="UTF-8">
    <title>search</title>
</head>
<body>
<div layout:fragment="content">
    <div class="search">
        <form method="get" action="/searchPage">
            <input type="text" name="search">
            <button>검색</button>
        </form>
    </div>


    <table>
        <thead>
        <tr>
            <th>file name</th>
            <th>file path</th>
            <th>file size</th>
            <th>file type</th>
            <th>Down load</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${list}">
            <td th:text="${file.fileName}"></td>
            <td th:text="${file.filePath}"></td>
            <td th:text="${file.fileSize}"></td>
            <td th:text="${file.fileType}"></td>
            <td ><a th:href="@{{id}(id=${file.downloadLink})}" target='_blank'>Download</a></td>

        </tr>
        </tbody>
    </table>

    <div style="width: 300px; text-align: center;">
        <th:block th:each="num : ${#numbers.sequence(1, list.totalPages)}">
            <a class="page active" th:if="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/fileListPage?pageNumber=${num}|"></a>
            <a class="page" th:unless="${list.number == (num - 1)}"   th:text="${num}"  th:href="|/fileListPage?pageNumber=${num}|"></a>
        </th:block>
    </div>


</div>
</body>
</html>