html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    width: 100%;
    height: fit-content;
}

.top-bar{
    height: 15%;
    background-color: gray;
    padding: 30px;
}

.top-bar > h2 {
    font-size: 30px;
    color: white;
}

.drawer {
    width: 20%;
    height: 100%;
    background-color: gray;
}

.drawer_container {
    font-size: 25px;
    margin-top: 25%;
}

.drawer_container i {
    margin: 10px;
}

.content-area{
    width: 100%;
    height: auto;
    background-color: aqua;
}

.link-area{
    background-color: greenyellow;
}
.upload-response{
    border: 1px solid black;
}